/* styles.css */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-image: url('images/backgroundDeAF.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    position: relative;
    overflow: hidden;
}

/* Flipping background */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('images/backgroundDeAF.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transform: scaleX(-1); /* Horizontal flip */
    opacity: 0.5; /* Optional: adjust opacity for a subtle effect */
    z-index: -1;
}

/*
.banner {
    background-color: rgba(80, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
h1, h2 {
    text-align: center;
    color: #500000;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #500000;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #750000;
}

.column-layout {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: #333;
}

.column-layout > div {
    width: 45%;
    margin: 0 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.item img {
    max-width: 300px;
    margin-left: 20px;
}

.item p {
    flex: 1;
    line-height: 1.6;
    color: #333;
}

.scrolling-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.footer-image {
    max-width: 100px;
    height: auto;
    padding: 10px;
}

@media (max-width: 768px) {
    .banner {
        padding: 10px;
        font-size: 1.2em;
    }
    
    nav a {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .column-layout {
        flex-direction: column;
    }

    .column-layout > div {
        width: 100%;
        margin: 10px 0;
    }

    .item img {
        max-width: 100%;
        margin: 0;
    }
}



/* Comments */
